@use 'foundation/variables'as v;

.c-archives {
  &__title {
    margin-top: 5.5rem;
  }

  &__list {
    margin-top: 6rem;
  }

  &__item {
    margin-top: 6.1rem;
  }
  &__item:first-child {
    margin-top: 0;
  }

  &__item:nth-child(2) {
    margin-top: 9.3rem;
  }

  &__img-box {
    width: 100%;
    max-width: 24rem;
    margin-right: 5rem;
    min-height: 14.8rem;
  }

  &__tag {
    padding: 0.8rem 1.3rem;
    font-size: 1.2rem;
  }

  &__date {
    font-size: 1.6rem;
  }

  &__item-title {
    margin-top: 1.2rem;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: underline .2rem v.$navy;
  }

  &__description {
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
