@use 'foundation/mixin'as *;

.c-bread-crump {
  background: #F8F8F8;

  &__link {
    font-size: 1.2rem;
    padding: 1.9rem 0;
    display: inline-block;
    @include mq('sp') {
      padding: 1rem 0;
    }
  }

  &__link span {
    display: inline-block;
    max-width: 20rem;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__link a {
    text-decoration: underline;
  }
}
