@use 'foundation/variables'as v;
@use 'foundation/mixin' as *;

.c-blog-contents {

  &__tag {
    display: inline-block;
    padding: .9rem 2.3rem;
    font-size: 1.2rem;
    color: #fff;
    background: v.$navy;
    @include mq('sp') {
      padding: 0.7em 1.8rem;
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: bold;
    @include mq('sp') {
      font-size: 2.2rem;
    }
  }

  &__h2 {
    margin-top: 4rem;
    font-size: 2.6rem;
    font-weight: bold;
    @include mq('sp') {
      font-size: 2rem;
    }
  }

  &__h3 {
    padding-left: 1rem;
    border-left: .4rem solid v.$navy;
    line-height: 1.3;
    font-size: 2.2rem;
    font-weight: bold;
    @include mq('sp') {
      font-size: 1.8rem;
      line-height: 1.2;
    }
  }

  &__data-wrap {
    display: flex;
    margin-top: 2.5rem;
    @include mq('sp') {
      margin-top: 2rem;
    }
  }

  &__share-list {
    display: flex;
  }

  &__share-item {
    margin-right: 0.4rem;
    padding: .5rem .8rem;
    border-radius: .3rem;
    color: #fff;
    font-weight: 600;
  }

  &__share-icon {
    margin-right: 0.4rem;
  }
  &__share-item--fb {
    background: #305097;
  }

  &__share-item--sns {
    background: #305097;
  }

  &__share-item--tw {
    background: #00ACED;
  }

  &__date {
    margin-right: 0;
    margin-left: auto;
    font-size: 1.6rem;
    @include mq('sp') {
      font-size: 1.4rem;
    }
  }

  &__img {
    width: 100%;
    height: 0;
    position: relative;
  }

  &__img--main {
    padding-bottom: 37rem;
    @include mq('sp') {
      padding-bottom: 62%;
    }
  }
  &__img--sub {
    padding-bottom: 33.5rem;
    @include mq('sp') {
      padding-bottom: 57%;
    }
  }
  &__img--single {
    max-width: 40rem;
    padding-bottom: 25rem;
    @include mq('sp') {
      padding-bottom: 62.5%;
    }
  }

  &__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.5;
    @include mq('sp') {
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }

  &__quote-area {
    margin-top: 3rem;
    padding: 2.6rem;
    background: #F8F8F8;
    display: flex;
    @include mq('sp') {
      padding: 2rem;
    }
  }

  &__quote-icon {
    max-width: 4.6rem;
    width: 100%;
    @include mq('sp') {
      max-width: 3rem;
    }
  }

  &__quote-text {
    font-size: 1.6rem;
    line-height: 1.5;
    @include mq('sp') {
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }

  &__list {
    margin-top: 3rem;
    @include mq('sp') {
      margin-top: 2.4rem;
    }
  }

  &__list-item {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-left: 3.2rem; // (before size + margin-right)
    text-indent: -3.2rem;
    @include mq('sp') {
      font-size: 1.4rem;
    }
  }

  &__list-item::before {
    content: "";
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 2.1rem;
    border-radius: 50%;
    background: v.$orange;
    @include mq('sp') {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 3rem;
    font-size: 1.8rem;
    color: v.$orange;
    text-decoration: underline;
    @include mq('sp') {
      font-size: 1.4rem;
    }
  }
  &__link--single {
    font-size: 1.6rem;
    @include mq('sp') {
      font-size: 1.2rem;
    }
  }
}
