@use 'foundation/variables'as v;

.c-case {
  &__title {
    padding-top: 5.5rem;
  }

  &__card-wrap {
    display: flex;
    margin-top: 12.7rem;
  }

  &__card {
    margin-right: 3.1rem;
  }

  &__card:last-child {
    margin-right: 0;
  }

  &__message {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.7;
  }

  &__img {
    position: relative;
    background: #fff;
    width: 28rem;
    height: 0;
    padding-bottom: 61%;
    margin-top: .9rem;
  }

  &__img img {
    height: 82%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__status {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__job {
    width: 10rem;
    margin-right: 0.8rem;
    padding: 0.6rem 1rem;
    background: #fff;
  }

  &__name {
    padding: 0.6rem 1.4rem;
    background: #fff;
    flex: 1;
  }

  &__result {
    margin-top: 1.1rem;
    padding: 0.7rem 1.4rem;
    background: #fff;
    width: 100%;
  }

}
