@use 'foundation/variables'as v;
@use 'foundation/mixin' as *;

.c-case {
  &__title {
    padding-top: 5.5rem;
  }

  &__card-wrap {
    display: flex;
    margin-top: 12.7rem;
    @include mq('sp') {
      display: block;
      margin-top: 4rem;
    }
  }

  &__card {
    margin-right: 3.1rem;
    @include mq('sp') {
      max-width: 40rem;
      margin: 0 auto;
    }
  }

  &__card:last-child {
    margin-right: 0;
    @include mq('sp') {
      margin: 0 auto;
    }
  }

  &__message {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.7;
    @include mq('sp') {
      margin-top: 4rem;
    }
  }

  &__img {
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 28rem;
    height: 0;
    padding-bottom: 61%;
    margin-top: .9rem;
    @include mq('sp') {
      margin: 0 auto;
      max-width: 22rem;
      padding-bottom: 45%;
      margin-top: 1rem;
    }
  }

  &__img img {
    height: 82%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__status {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    @include mq('sp') {
      margin-top: 1rem;
      font-size: 1.4em;
    }
  }

  &__job {
    width: 10rem;
    margin-right: 0.8rem;
    padding: 0.6rem 1rem;
    background: #fff;
    @include mq('sp') {
      padding: 0.4rem;
    }
  }

  &__name {
    padding: 0.6rem 1.4rem;
    background: #fff;
    flex: 1;
    @include mq('sp') {
      padding: 0.4rem;
    }

  }

  &__result {
    margin-top: 1.1rem;
    padding: 0.7rem 1.4rem;
    background: #fff;
    width: 100%;
    @include mq('sp') {
      padding: 0.4rem;
    }
  }

}
