@use 'foundation/variables' as v;

.c-catch-copy {
  &__title {
    margin-top: 6.3rem;
  }

  &__text-wrap {
    display: flex;
    justify-content: space-between;
    width: 43.4vw;
    max-width: 90rem;
    margin: 6.5rem auto 0;
    font-size: 1.8rem;
    color: #fff;
  }

  &__text {
    line-height: 2.2;
  }

  &__answer {
    background: #fff;
    margin-top: 8.3rem;
    margin-bottom: 5.4rem;
    padding: 1.2rem 1.6rem;

  }

  &__answer-inner {
    border: .5rem solid v.$navy;
  }

  &__answer-title {
    margin-top: 1.5rem;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.5;
  }

  &__answer-title span {
    background: linear-gradient(transparent 75%, v.$orange 0%);
  }

  &__answer-text {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
