@use 'foundation/variables'as v;

.c-faq {
  &__title {
    text-align: center;
  }

  &__contents {
    margin-top: 2.5rem;
  }

  &__hr {
    margin: 1.6rem 0;
    color: v.$navy;
  }

  &__hr:first-child {
    margin-top: 0;
  }


  &__q-text {
    font-size: 1.5rem;
    padding: 1.2rem 0;
  }

  &__a-text {
    font-size: 1.6rem;
    padding: 2.3rem 2.6rem;
  }

  &__question:hover {
    background: #eee;
  }

  &__answer {
    background: #F8F8F8;
    margin-top: 0.8rem;
  }

}
