@use 'foundation/variables'as v;

.c-faq {
  &__title {
    text-align: center;
  }

  &__contents {
    margin-top: 2.5rem;
  }

  &__hr {
    margin: 1.6rem 0;
    color: v.$navy;
  }

  &__hr:first-child {
    margin-top: 0;
  }


  &__q-text {
    font-size: 1.5rem;
    padding: 1.2rem 0;
    position: relative;
    padding-right: 5rem;
  }

  &__q-text::before,
  &__q-text::after {
    content: '';
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    background: v.$navy;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }

  &__q-text::after {
    transform: translateY(-50%) rotate(90deg);
    transition: .5s;
  }
  &__q-text.active::before {
    opacity: 0;
    transition: .5s;
  }

  &__q-text.active::after {
    transform: rotate(0);
    transition: .5s;
  }

  &__a-text {
    font-size: 1.6rem;
    padding: 2.3rem 2.6rem;
  }

  &__question {
    cursor: pointer;
  }

  &__question:hover {
    background: #eee;
  }

  &__answer {
    background: #F8F8F8;
    margin-top: 0.8rem;
  }

}
