@use 'foundation/variables'as v;

.c-news {
  &__inner {
    width: 43rem;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__item {
    margin-bottom: 1.7rem;
  }

  &__item:hover {
    background: #eee;
  }

  &__date {
    margin-bottom: 1.6rem;
    font-size: 1.2rem;
  }

  &__description {
    padding-bottom: 4.3rem;
    font-size: 1.6rem;
    text-decoration: underline;
  }

}
