@use 'foundation/variables'as v;

.c-plans {
  &__cards {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__card {
    width: 22rem;
    text-align: center;
  }

  &__header {
    padding: 2.2rem 0;
    background: v.$navy;
  }

  &__header-txt {
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
  }

  &__header-txt:nth-child(2) {
    margin-top: 2rem;
  }

  &__header--rec {
    padding: 2.2rem 0;
    background: v.$orange;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
  }

  &__body {
    height: 41.4rem;
    border: .1rem solid v.$navy;
    border-top: none;
    padding: 0 2rem;
  }

  &__price {
    padding-top: 3rem;
    font-size: 2.5rem;
  }
  &__price--rec {
    padding-top: 3rem;
    font-size: 2.5rem;
    color: v.$orange;
  }

  &__attention {
    padding-top: 1.4rem;
    font-size: 1.6rem;
  }

  &__list-item {
    padding-top: 2.3rem;
    font-size: 1.6rem;
  }

  &__list-item:first-child {
    padding-top: 4.8rem;
  }

  &__check {
    content: "";
    display: inline-block;
    width: .8rem;
    height: 1.2rem;
    margin-right: 1.1rem;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
    border-right: 3px solid v.$navy;
    border-bottom: 3px solid v.$navy;
  }

}
