@use 'foundation/variables'as v;

.c-relation {
  margin-top: 6rem;

  &__title {
    font-size: 2.1rem;
    text-align: center;
    padding: 1.9rem 0;
    color: #fff;
    background: v.$navy;
  }

  &__item {
    margin-top: 4rem;
    display: flex;
  }
  &__item:first-child {
    margin-top: 3rem;
  }


  &__img {
    width: 100%;
    max-width: 10rem;
    height: 100%;
    min-height: 7rem;
    margin-right: 1.7rem;
    background: #d5d5d5;
  }

  &__blog-title {
    font-size: 1.2rem;
    line-height: 2;
    margin-top: -0.4rem;
    text-decoration: underline;
  }

  &__category {
    margin-top: 3.2rem;
  }

  &__category-item {
    margin-top: 1.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    // list-style: inside;
  }
  &__category-item::before {
    content: "・";
    display: inline;
  }

  &__category-item:first-child {
    margin-top: 0;
  }
}
