@use 'foundation/variables'as v;

.c-sub-title {
  font-size: 3.6rem;
  font-weight: bold;

  &--center {
    text-align: center;
  }

  &--navy {
    color: v.$navy;
  }

  &--white {
    color: #fff;
  }
}
