@use 'foundation/variables'as v;

.c-summary {
  margin-bottom: 9rem;
  &__title {
    margin-top: 5.8rem;
  }

  &__wrap {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    width: 29rem;
    padding: 3.3rem 0;
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
    background: v.$navy;
  }

  &__plus {
    display: inline-block;
    position: relative;
    width: 2.7rem;
    height: 2.7rem;
    margin: 0 3.55rem;
  }

  &__plus:before,
  &__plus:after {
    display: block;
    content: '';
    background-color: v.$navy;
    position: absolute;
    width: 2.7rem;
    height: .2rem;
    top: 1.25rem;
    left: 0;
  }

  &__plus:before {
    width: .2rem;
    height: 2.7rem;
    top: 0;
    left: 1.25rem;
  }

  &__text {
    margin-top: 4.6rem;
    font-size: 1.6rem;
    line-height: 1.7;
  }
}
