.u-top-view {
  &--price {
    background: urL(../img/tv-plan.jpg) center center / cover;
  }
  &--blog {
    background: urL(../img/tv-blog.jpg) center center / cover;
  }
  &--news {
    background: urL(../img/tv-news.jpg) center center / cover;
  }
  &--contact {
    background: urL(../img/tv-cta.jpg) center center / cover;
  }
}
