.u-top-view {
  &--price {
    background: urL(../img/plan@2x.png) center center / cover;
  }
  &--blog {
    background: urL(../img/blog@2x.png) center center / cover;
  }
  &--news {
    background: urL(../img/news@2x.png) center center / cover;
  }
  &--contact {
    background: urL(../img/cta@2x.png) center center / cover;
  }
}
