@use 'variables'as v;

.concept {
  &__title {
    margin-top: 6rem;
    text-align: center;
  }

  &__item {
    display: flex;
    margin-top: 6rem;
  }


  &__item:nth-child(2) {
    flex-direction: row-reverse;
  }


  /* contents
  ------------------------------*/
  &__contents {
    flex: 1;
    margin-right: 5rem;
  }
  &__item:nth-child(2) &__contents {
    margin-right: 0;
    margin-left: 5rem;
  }

  &__item-tag {
    width: 9rem;
    height: 3rem;
    line-height: 3rem;
    background: v.$orange;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
  }

  &__item-ttl {
    margin-top: 3.5rem;
    font-size: 2.6rem;
  }

  &__item-txt {
    margin-top: 3.9rem;
    font-size: 1.6rem;
  }

  /* img
  ------------------------------*/
  &__img {
    width: 38.8%;
    height: 0;
    padding-bottom: calc(68.6% * 0.38);
    position: relative;

  }

  &__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* plan
  ------------------------------*/
  &__plan {
    margin-top: 9.3rem;
    margin-bottom: 3.9rem;
    padding: 6rem 0 5.3rem;
    background: url('../img/price@2x.png') center center / cover;
    color: #fff;
  }
  &__plan-inr {
    text-align: center;
  }

  &__plan-ttl {
    font-size: 2.6rem;
  }

  &__plan-link {
    display: inline-block;
    width: 20rem;
    height: 5rem;
    line-height: 5rem;
    margin-top: 2.7rem;
    border: 1px solid #fff;
    border-radius: 2.5rem;
    font-size: 1.6rem;
  }
}
