@use 'variables'as v;

html {
  color: #1B224C;

  // font-size: 10px;
  font-size: 10 / 1280 * 100vw; //SP~TB

  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

body {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}

.contents-inner {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

.sub-title {
  font-size: 3.6rem;
  font-weight: bold;
}

.req-btn {
  display: inline-block;
  width: 100%;
  max-width: 26rem;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  background: v.$orange;
}

.contact-link {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: underline;
}


.top-view__title {
  padding: 9.5rem 0;
  font-size: 3.2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.bread-crump {
  background: #F8F8F8;
}

.bread-crump__link {
  font-size: 1.2rem;
  padding: 1.9rem 0;
}

.sub-page-title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}
