@use 'variables'as v;

/* sub-page
---------------------------------------*/
.top-view__title {
  padding: 9.5rem 0;
  font-size: 3.2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.sub-page-title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}

/* bread-crump
---------------------------------------*/
.bread-crump {
  background: #F8F8F8;
}

.bread-crump__link {
  font-size: 1.2rem;
  padding: 1.9rem 0;
}

/* archive
---------------------------------------*/
.archive-img-box {
  position: relative;

}

.archive-img-tag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: v.$navy;
  color: #fff;
}

.archive-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.archive-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.archive-item a {
  display: flex;
}

.archive-item a:hover {
  background: #eee;
}



.pagination {
  margin-top: 10.9rem;
  text-align: center;
  font-size: 2rem;
}
