.header {
  // position: fixed;
  background: #fff;
  width: 100%;
  max-width: 1280px;
  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    padding: 15px 0;
  }

  /* logo
  ------------------------------*/
  &__logo {
    width: 13.6rem;
    margin-left: 1.5rem;
  }

  &__logo img {
    width: 100%;
  }

  /* navi
  ------------------------------*/
  &__nav-list {
    display: flex;
    font-size: 1.6rem;
  }

  &__nav-item {
    margin-left: 2.8rem;
  }

  /* tel
  ------------------------------*/
  &__tel-wrap {
    margin-left: auto;
    margin-right: 2.3rem;
    text-align: right;
  }

  &__tel-date {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__tel-num {
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  &__tel-num span {
    display: inline-block;
    width: 1rem;
    margin-right: .5rem;
  }

  &__tel-num span img {
    width: 100%;
  }

  /* button
  ------------------------------*/
  &__btn {
    margin-right: 1rem;
    font-size: 1.4rem;
    color: #fff;
    border-radius: .5rem;
  }

  &__req {
    background: #F5A623;
    padding: 1.8rem 4.3rem;
  }

  &__info {
    background: #1B224C;
    padding: 1.8rem 2.6rem;
  }
}
