@use 'variables'as v;

.process {
  &__inner {
    padding: 5.8rem 0 7.5rem;
  }

  &__title {
    text-align: center;
  }

  &__list {
    margin-top: 5.3rem;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    height: 6.4rem;
    margin-top: 0.8rem;
    background: #f8f8f8;
  }

  &__item:first-child {
    margin-top: 0;
  }

  &__num {
    width: 6.4rem;
    height: 6.4rem;
    background: v.$orange;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    line-height: 6.4rem;
  }

  &__item-name {
    width: 21.45rem;
    margin-left: 2.1rem;
    font-size: 1.8rem;
    font-weight: bold;
  }

  & .border {
    width: .1rem;
    height: 2.9rem;
    background: #C3C3C3;
  }

  &__item-desc {
    margin-left: 5.35rem;
    font-size: 1.6rem;
  }
}
