.p-archive {
  /* contents
  ----------------------------*/
  &__contents {
    padding-bottom: 6.5rem;
  }
&__tag {
  margin-top: 6rem;
}
  &__title {
    margin-top: 2.2rem;
    line-height: 1.5;
  }

  &__img {
    margin-top: 2rem;
  }
  &__img--sub {
    margin-top: 3rem;
  }


  &__h2 {
    margin-top: 4rem;
  }

  &__text {
    margin-top: 2.5rem;
  }

  &__h3 {
    margin-top: 4.5rem;
  }

  &__quote-area {
    margin-top: 4.4rem;
  }

  &__list {
    margin-top: 3rem;
  }

  &__link {
    margin-top: 5.8rem;
  }



  &__recommend {
    padding-bottom: 5rem;
  }

  &__relation {
    padding-bottom: 4.9rem;
  }
}
