@use 'foundation/mixin' as *;

.p-archive {

  /* contents
  ----------------------------*/
  &__contents {
    padding-bottom: 6.5rem;
  }

  &__tag {
    margin-top: 6rem;
    @include mq('sp') {
      margin-top: 2rem;
    }
  }

  &__title {
    margin-top: 2.2rem;
    line-height: 1.5;
    @include mq('sp') {
      margin-top: 1.8rem;
    }
  }

  &__img {
    margin-top: 2rem;
  }

  &__img--sub {
    margin-top: 3rem;
  }


  &__h2 {
    margin-top: 4rem;
    @include mq('sp') {
      margin-top: 3rem;
    }
  }

  &__text {
    margin-top: 2.5rem;
    @include mq('sp') {
      margin-top: 2rem;
    }
  }

  &__h3 {
    margin-top: 4.5rem;
    @include mq('sp') {
      margin-top: 3.8rem;
    }
  }

  &__quote-area {
    margin-top: 4.4rem;
    @include mq('sp') {
      margin-top: 3rem;
    }
  }

  &__list {
    margin-top: 3rem;
  }

  &__link {
    margin-top: 5.8rem;
  }



  &__recommend {
    padding-bottom: 5rem;
  }

  &__relation {
    padding-bottom: 4.9rem;
  }
}
