@use 'foundation/mixin'as *;

.p-form {
  &__form-wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 8.2rem;

    @include mq('sp') {
      padding-bottom: 6rem;
    }
  }

  &__message {
    margin-top: 5.4rem;

    @include mq('sp') {
      margin-top: 4rem;
    }
  }

  &__label {
    margin-top: 2rem;
  }

  &__label:first-of-type {
    margin-top: 4.4rem;
  }

  &__input {
    margin-top: 1.2em;

    @include mq('sp') {
      margin-top: 1rem;
    }
  }

  &__select {
    margin-top: 1.8rem;
  }

  &__select-label {
    margin-top: 1.3rem;

    @include mq('sp') {
      margin-top: 1rem;
    }
  }

  &__select-input {
    margin-right: 1.6rem;
  }

  &__select-label:first-child {
    margin-top: 2rem;
  }

  &__textarea-label {
    margin-top: 2.2rem;
  }

  &__textarea-input {
    margin-top: 1.2em;

    @include mq('sp') {
      margin-top: 1rem;
    }
  }

  &__policy-text {
    margin-top: 3rem;
    text-align: center;
  }

  &__policy-label {
    margin-top: 3rem;
    text-align: center;
  }

  &__submit-button {
    margin-top: 4.4rem;
    display: flex;
    justify-content: center;
  }

  /* thanks --------------------------*/
  &__thanks {
    padding-bottom: 8rem;
    text-align: center;
    font-size: 1.6rem;
    @include mq('sp') {
      padding-bottom: 4rem;
      font-size: 1.4rem;
    }
  }

  &__thanks-message {
    margin-top: 7.8rem;
    line-height: 1.7;
    @include mq('sp') {
      margin-top: 5rem;
    }
  }

  &__thanks-link {
    display: inline-block;
    margin-top: 8.5rem;
    @include mq('sp') {
      margin-top: 6rem;
    }
  }
}
