@use 'foundation/mixin' as *;

.p-news-post {

  /* contents
  ----------------------------*/
  &__contents {
    padding-bottom: 6rem;
    @include mq('sp') {
      padding-bottom: 4rem;
    }
  }

  &__title {
    line-height: 1.75;
    margin-top: 5rem;
    @include mq('sp') {
      line-height: 1.5;
    }
  }

  &__date {
    margin-top: 3.6rem;
    font-size: 1.6rem;
    text-align: right;
    @include mq('sp') {
      font-size: 1.4rem;
    }
  }

  &__img {
    margin-top: 3rem;
  }


  &__h2 {
    margin-top: 6rem;
  }

  &__h3 {
    margin-top: 4.4rem;
  }

  &__text {
    margin-top: 2.8rem;
  }

  &__quote-area {
    margin-top: 4.4rem;
  }

  &__list {
    margin-top: 3rem;
    margin-left: 1.4rem;
    max-width: 58rem;
  }

  &__link {
    margin-top: 6rem;
    margin-left: 1.4rem;
  }

}
